*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    overflow-x: hidden;
}

#editor {
    height: auto;
  }

  .editor {
    font-size: 2rem;
    color: red;
  }

  .preview {
    font-size: 2rem;
    color: blue;
  }

  #preview {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    padding: 20px;
  }

  .row h1 {
    padding-top: 10px;
  }
  @media (max-width: 500px){
      .preview{
          padding: 40px;
      }
  }